*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    background: #555;
}


.header__nav{
    background: #000000;
}

.header__top{
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
}

.header__top-logo{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__span{
    background: #4A90E2;
    border-radius: 3px;
    padding: 3px 5px;
}

.header__nav-list{
    display: flex;    
    gap: 50px;
}

.header__nav-link{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px; 
    color: #FFFFFF;
    transition: 500ms;
}

.header__nav-link:hover{
    transform: translateY(-50%);
}

/* Header end */


/* Main start */


.main__top-cars{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(265px, auto);
    gap: 30px;
    margin: 30px 0;
}

.main__top-item:nth-of-type(1){
    grid-row: span 2 ;
}

.main__top-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 30px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 7.5e-05) 0%, rgba(0, 0, 0, 0.75) 82.82%);
    border-radius: 10px;
    overflow: hidden;
}

.main__top-img{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 500ms;
    overflow: hidden;
}
.main__top-item:hover .main__top-img{
    transform: scale(1.5);
}

.header__top-span{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #4A90E2;
    border-radius: 3px;
    width: 62px;
    text-align: center;
    padding: 4px 0;
}

.header__top-data{
    font-weight: 200;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.heder__top-title{
    margin-top: 5px;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}




/* Main end */